
@{
	ViewBag.Title = "AcercaDe";
	Layout = "~/Views/Shared/_PropuestasLayout.cshtml";
}

<h2>Acerca De...</h2>
<hr />

<h3>Objetivo del Proyecto</h3>

<p>
	Desarrollar una aplicación web para necesidades sociales. Personas registradas en la aplicación
	web podrán publicar sus proyectos/necesidades solicitando ayuda o donaciones. Las donaciones
	podrán ser monetarias, de bienes o tiempo para ayudar a la contraparte. Los
	proyectos/necesidades deberán tener información multimedia así como referencias de terceros
	para darle credibilidad evitando proyecto fake.
	Los usuarios podrán votar el proyecto y agregar comentarios sobre el mismo, después de que se
	realizó la ayuda para darle una valoración al usuario que lo posteo generando reputación.
<p>
	<hr />

	<h3>Integrantes</h3>
<p>
	Bevacqua Federico	 - 39.336.983
	<br />
	Marconi Daniel		 - 35.979.086

<p>