@{
	Layout = "~/Views/Shared/_AnonimoLayout.cshtml";
}

<div class="alert alert-danger mt-5 mb-5" role="alert">
	<h4 class="alert-heading">@ViewBag.Title</h4>
	@ViewBag.Description
</div>

<a href="/Home/InicioUsuarioLogueado" class="btn btn-primary mb-5">Volver a la Home</a>