
@{
	ViewBag.Title = "Inicio";
}

<h1>Ayudando al prójimo</h1>
<br />

<!-- TODO: Las 5 principales propuestas activas más valoradas por los usuarios del sitio. Utilizar For-->
<div> Propuestas </div>
<br />
<button class="pull-right btn btn-default">@Html.ActionLink("Login", "Login")</button>
<br />
<button class="pull-right btn btn-default">@Html.ActionLink("Registro", "Registro")</button>
