
@{
    ViewBag.Title = "Gestionar";
    ViewBag.Img = "http://k33.kn3.net/B/1/B/B/0/4/B38.jpg";
}


<div class="container">
    <h2>Gestionar denuncias</h2>
    <div class="card-columns mt-4">
        @for (int i = 0; i < 5; i++)
        {
            <div class="card">
                <img src="@ViewBag.Img" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Pinta mi cerca</h5>
                    <div class="card-subtitle text-muted mb-3"><small>Denuncia hecha por abraham.simpson el 12/10/2019</small></div>
                    <div class="card-subtitle">Motivo: Fraude</div>
                    <div class="card-text">El usuario escribió: <span class="font-italic text-muted">Sabía que conocía a ese tal Sr. Miyagi. Le di un plato de avena en 1947 para que pintara mi cocina y nunca la terminó. NO LE DONEN NADA A ESTE ESTAFADOR.</span></div>
                    <a href="#" class="btn btn-primary btn-block mt-4">Ver publicación denunciada</a>
                    <div class="d-flex justify-content-between">
                        <a href="#" class="btn btn-danger mt-3 flex-fill boton-bloquear-publicacion">Bloquear</a>
                        <a href="#" class="btn btn-secondary mt-3 flex-fill boton-desestimar-denuncia">Desestimar</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
