<div id="campos-exclusivos-3" class="d-none">

    <div class="form-row">
		<div class="form-group col-md-2">
			@Html.Label("Cantidad", "Cantidad de horas:")
			@Html.EditorFor(ph => ph.Cantidad, null, new { @class = "number" })
			@Html.ValidationMessageFor(ph => ph.Cantidad, null, new { @class = "text-danger" })
		</div>
    </div>


</div>
