<span class="font-weight-bold">$2.500</span> de $10.000 ($7.500 restantes)
<div class="progress">
    <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div>
