<h6>Profesión solicitada: Pintor</h6>
<span class="font-weight-bold">60</span> de 100 horas cubiertas (40 horas restantes)
<div class="progress">
    <div class="progress-bar bg-success" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
</div>

