@model Data.PropuestasDonacionesMonetaria
@{
    ViewBag.Recaudado = @Model.DonacionesMonetarias.Where(x=>x.IdPropuestaDonacionMonetaria == Model.IdPropuestaDonacionMonetaria).Sum(x => x.Dinero);
    ViewBag.Restante = (0 > (Model.Dinero - ViewBag.Recaudado)) ? 0 : Model.Dinero - ViewBag.Recaudado;
    ViewBag.Porcentaje = ViewBag.Restante == 0 ? 100 : Decimal.ToInt32(ViewBag.Recaudado * 100 / Model.Dinero);
}

<span class="font-weight-bold">$@ViewBag.Recaudado</span> de $@Model.Dinero ($@ViewBag.Restante restantes)
<div class="progress mt-2">
    <div class="progress-bar bg-success" role="progressbar" style="width: @ViewBag.Porcentaje%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div>
