
@{
    ViewBag.Title = "Detalle";
    ViewBag.Img = "http://k33.kn3.net/B/1/B/B/0/4/B38.jpg";
}

<div class="container">
    <h2>Pinta mi cerca</h2>
    <div class="row">
        <div class="col-md-6">
            <img src="@ViewBag.Img" alt="..." class="img-thumbnail">
            <div class="text-muted mt-2"><small>Pedido de insumos - Creado por nariyoshi.miyagi el 10/10/2019</small></div>
            <div class="text-muted"><small>Abierto hasta el 12/11/2019</small></div>
            <p class="mt-2">El Sr. Miyagi consiguió la ayuda de un joven vecino para pintar su cerca a cambio de unas lecciones de karate. Sin embargo, necesita de nuestra ayuda para conseguir los siguientes materiales</p>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    @Html.Partial("_DetalleInsumos")
                    <p class="mt-2 text-muted">Aceptación: 92%</p>
                    <a href="#" class="btn btn-block btn-success mt-3 font-weight-bold">Donar</a>

                    <div class="d-flex justify-content-between">
                        <a href="#" class="btn btn-primary mt-3 font-weight-bold flex-fill boton-me-gusta">Me gusta</a>
                        <a href="#" class="btn btn-secondary mt-3 font-weight-bold flex-fill boton-no-me-gusta">No me gusta</a>
                    </div>

                    <a href="#" class="btn btn-block btn-danger mt-3 font-weight-bold">Denunciar</a>
                    <div class="mt-4 font-weight-bold">Referentes:</div>
                    <div class="mt-2">Daniel Larusso: <span class="text-muted">11-3326-5698</span></div>
                    <div>Lucille Larusso: <span class="text-muted">11-2654-1038</span></div>
                </div>
            </div>
        </div>
    </div>
</div>



