
@{
	ViewBag.Title = "Mis donaciones";
	Layout = "~/Views/Shared/_PropuestasLayout.cshtml";
}

    <div class="container">

        <h2>Mis donaciones</h2>

        <div class="card-deck" id="contenedor-historial-donaciones">

        </div>
        
        <script>
            window.onload = () => {
                pedirHistorial(@ViewBag.IdUsuario);
            }
        </script>
    </div>
