
@{
	ViewBag.Title = "Mis donaciones";
	Layout = "~/Views/Shared/_PropuestasLayout.cshtml";
}

    <div class="container">

        <h2>Mis donaciones</h2>

        <div class="card-deck" id="contenedor-historial-donaciones">

        </div>
        
        <script>
            console.log("Cuando se cargue el documento se ejecutara la funcion pedir historial");
            window.onload = () => {
                console.log("Documento cargado, ejecutando funcion pedirHistorial para el usuario con id @ViewBag.IdUsuario...");
                pedirHistorial(@ViewBag.IdUsuario);
            }
        </script>
    </div>
