
@{
	ViewBag.Title = "_PropuestasLayout";
}

<h2>_PropuestasLayout</h2>

<!-- TODO: PropuestasLayout.cshtml debe implementar BaseLayout.cshtml, la misma tiene el menú visible y la partial view pv_Footer.cshtml. -->
